<ion-view view-title="{{chatName}}">
  <ion-content class="padding chat-detail-container" scroll="y">
    <div ng-repeat="message in chatDetail.messages track by $index" class="messages" ng-class="{other: message.sender_type != 1}">
      <div class="message animated bounceIn">
          <span>{{message.message}}</span>
      </div>
      <!--<div ng-if="message.sender_type == 1" class="message animated bounceIn">
          <span>{{message.message}}</span>
      </div>
      <div ng-if="message.sender_type == 0" class="message animated bounceIn">
          <span>{{message.message}}</span>
      </div>-->
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="chatDetail.sendMessage(); closeKeyboard()" ng-model="chatDetail.chat.newMessage" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="chatDetail.sendMessage()">
        Send
      </button>
  </ion-footer-bar>


</ion-view>
