<div layout="row" layout-align="center center">
  <md-content layout-md="6">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Ajengan Bali App</span>
          <span class="md-subhead">Sign In</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form ng-submit="tryLogin(formField)" name="loginForm">
          <md-input-container class="md-block">
            <label>Email</label>
            <input required name="email" ng-pattern="/^.+@.+\..+$/" ng-model="formField.email">
            <div ng-messages="loginForm.email.$error" role="alert">
              <div ng-message-exp="['required', 'pattern']">Email harus diisi dengan format yang benar.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input required type="password" name="password" minlength="6" ng-model="formField.password">
            <div ng-messages="loginForm.password.$error" role="alert">
              <div ng-message-exp="['required', 'minlength']">Isikan password minimal 6 karakter.</div>
            </div>
          </md-input-container>

          <div>
            <md-button class="md-raised md-primary" type="submit">Sign In</md-button>
          </div>
          <md-progress-linear ng-if="state.loading === true" md-mode="indeterminate"></md-progress-linear>
        </form>
        <br />
        <div layout="row" layout-align="center center">
          <div layout-md="6">
            <md-button class="md-primary" ui-sref="signup">Register Now!</md-button>
          </div>
          <div layout-md="6">
            <md-button class="md-primary" ui-sref="singup">Forgot password ?</md-button>
          </div>
        </div>
        <br />
        <div layout="row" layout-align="center center">
          <p>All Rights Reserved</p>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>