<ion-view view-title="Log In" hide-nav-bar="true" >
  <ion-content>
    <div class="accentbody">

    </div>
    <nav class="blue darken-2">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><span class="text-bold">Tiket</span><span class="text-medium">Tari</span><span class="text-bold"> Extranet</span></a>
        </div>
    </nav>


  <div class="row">
          <!-- Form with validation -->
          <div class="col s12 m8 l5">
            <div class="card-panel card-register-margin"><br><br>
              <h4 class="text-bold blue-text darken-3 center-align">Tiket<span class="text-medium">Tari</span> </h4>
              <h5 class="text-light blue-text darken-3 center-align">Extranet Sign In </h5>
              <br><br>
              <div class="row">
                <form>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-social-person prefix"></i>
                      <input id="email" ng-model="login.email" name="username" type="text">
                      <label id="email-label"  for="username">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="mdi-action-lock prefix"></i>
                      <input id="password" ng-model="login.password" name="password" type="password">
                      <label  id="password-label" for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button ng-click="tryLogin()" class="btn waves-effect waves-light col s12 ">SIGN IN</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <button type="reset" class="modal-close btn waves-effect waves-light col s12">Cancel</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6 m6 l6">
                      <p class="margin medium-small"><a href="/#/signup">Register Now!</a></p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


          <div class="col s12 m8 l6 fact-signup">
            <div class="container ">
                <h3 class="text-bold white-text center-align ">JOIN THE LARGEST TICKETING COMMUNITY</h3>
                <h4 class="text-light white-text center-align">Over 100.000 tickets sold this month</h4>
                <h5 class="text-light white-text center-align">Reach more, earn more</h5>
            </div>

          </div>

  </div>
      </ion-content>
</ion-view>
