<div class="container">
  <div class="row">
    <div class="col s12 m12 l5 offset-l3">
      <br />
      <div class="card-panel z-depth-3">
        <h4 class="text-bold center-align light-blue-text text-darken-4">Ajengan <span class="text-medium">Bali</span></h4>
        <h5 class="text-light center-align light-blue-text text-darken-4">Sign In</h5>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-social-person prefix"></i>
              <input id="email" ng-model="email" name="email" type="email" required autofocus>
              <label id="email-label" for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-lock prefix"></i>
              <input id="password" ng-model="password" name="password" type="password" required>
              <label id="password-label" for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button ng-click="tryLogin()" class="btn waves-effect waves-light col s12 ">SIGN IN</button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6">
              <p class="margin medium-small"><a ui-sref="signup">Register Now!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a ui-sref="forgot-password">Forgot password ?</a></p>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l12">
              <p class="margin center-align medium-small">All Rights Reserved</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>