<ion-view view-title="Payment Confirmation" hide-nav-bar="true" class="payment-background">
    <ion-content class="payment-container" scroll="false">
          <img ng-src="{{img}}" class="logo animated fadeIn" alt="" />
          <div ng-if="loading == true" class="info">
            <h3 class="payment-text animated fadeIn">Preparing your tickets, Please Wait</h3>
            <ion-spinner class="spinner-pos" icon="ios"></ion-spinner>
          </div>
          <div ng-if="loading == false">
            <h3  class="payment-text animated fadeIn">{{success}}</h3>
            <h3 ng-if="success == null" class="payment-text animated fadeIn">Transaction Error!</h3>
          </div>

    </ion-content>
</ion-view>
