<div layout="row" layout-align="center center">
  <md-content layout-md="6">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Ajengan Bali App</span>
          <span class="md-subhead">Reset Password</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form ng-submit="resetPassword(formField)" name="form">
          <md-input-container class="md-block">
            <label>Email</label>
            <input required name="email" ng-pattern="/^.+@.+\..+$/" ng-model="formField.email">
            <div ng-messages="form.email.$error" role="alert">
              <div ng-message-exp="['required', 'pattern']">Email harus diisi dengan format yang benar.</div>
            </div>
          </md-input-container>

          <div layout="row" layout-align="center center">
            <div layout-md="6">
              <md-button class="md-raised md-primary" type="submit">Reset Password</md-button>
            </div>
            <div layout-md="6">
              <md-button class="md-primary" ui-sref="login">Back to login</md-button>
            </div>
          </div>
          <md-progress-linear ng-if="state.loading === true" md-mode="indeterminate"></md-progress-linear>
        </form>
        <br />
        <div layout="row" layout-align="center center">
          <p>All Rights Reserved</p>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>