<div layout="row" layout-align="center center">
  <md-content>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Ajengan Bali App</span>
          <span class="md-subhead">Sign Up</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form ng-submit="signUp(formField)" name="signupForm">
          <md-input-container class="md-block">
            <label>Nama Lengkap</label>
            <input required name="nama" ng-model="formField.nama">
            <div ng-messages="signupForm.nama.$error" role="alert">
              <div ng-message-exp="['required']">Isikan nama lengkap</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Alamat</label>
            <input required name="alamat" ng-model="formField.alamat">
            <div ng-messages="signupForm.alamat.$error" role="alert">
              <div ng-message-exp="['required']">Isikan alamat.</div>
            </div>
          </md-input-container>

          <div layout="row">
            <md-input-container flex="50">
              <label>No. Telp</label>
              <input required name="telp" type="number" ng-model="formField.telp">
              <div ng-messages="signupForm.telp.$error" role="alert">
                <div ng-message-exp="['required']">Isikan nomor telepon.</div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>Username</label>
              <input required name="username" ng-model="formField.username">
              <div ng-messages="signupForm.username.$error" role="alert">
                <div ng-message-exp="['required']">Isikan username.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex="50">
              <label>Email</label>
              <input required name="email" ng-pattern="/^.+@.+\..+$/" ng-model="formField.email">
              <div ng-messages="signupForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'pattern']">Email harus diisi dengan format yang benar.</div>
              </div>
            </md-input-container>

            <md-input-container flex="50">
              <label>Password</label>
              <input required type="password" name="password" minlength="6" ng-model="formField.password">
              <div ng-messages="signupForm.password.$error" role="alert">
                <div ng-message-exp="['required', 'minlength']">Isikan password minimal 6 karakter.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-align="center center">
            <div layout-md="6">
              <md-button class="md-raised md-primary" type="submit">Sign Up</md-button>
            </div>
            <div layout-md="6">
              <md-button class="md-primary" ui-sref="login">Back to login</md-button>
            </div>
          </div>
          <md-progress-linear ng-if="state.loading === true" md-mode="indeterminate"></md-progress-linear>
        </form>
        <br />
        <div layout="row" layout-align="center center">
          <p>All Rights Reserved</p>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>