<div class="navbar-fixed">
      <nav class="blue darken-2">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><span class="text-bold">Tiket</span><span class="text-medium">Tari</span><span class="text-bold"> Extranet</span></a>
        </div>
    </nav>
</div>
<div id="main">
    <div class="wrapper">
    <aside id="left-sidebar-nav">
      <ul id="slide-out" class="side-nav fixed leftside-navigation">
                  <li class="user-details cyan darken-2">
                      <div class="row">
                          <div class="col col s4 m4 l4" ng-if="PDetail.img_path == null">
                          <div class="preloader-wrapper small active">
                                <div class="spinner-layer spinner-green-only">
                                  <div class="circle-clipper left">
                                    <div class="circle"></div>
                                  </div><div class="gap-patch">
                                    <div class="circle"></div>
                                  </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col col s4 m4 l4" ng-if="PDetail.img_path != null">
                          <img src="{{PDetail.img_path}}" alt="" class="circle responsive-img valign profile-image">
                        </div>
                          <div class="col col s8 m8 l8 no-padding">
                              <ul id="profile-dropdown" class="dropdown-content">
                                  <li><a href="#"><i class="mdi-action-face-unlock icon-text"></i> Profile</a>
                                  </li>
                                  <li><a href="#"><i class="mdi-action-settings icon-text"></i> Settings</a>
                                  </li>
                                  <li><a href="#"><i class="mdi-communication-live-help icon-text"></i> Help</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li><a href="#"><i class="mdi-action-lock-outline icon-text"></i> Lock</a>
                                  </li>
                                  <li><a href="#"><i class="mdi-hardware-keyboard-tab icon-text"></i> Logout</a>
                                  </li>
                              </ul>
                              <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{PDetail.nama_penyelenggara}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                              <p class="user-roal">{{PDetail.email}}</p>
                          </div>
                      </div>
                  </li>
                  <li class="bold "><a href="/#/dashboard" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                  </li>
                  <li class="bold active"><a href="/#/tickets" class="waves-effect waves-cyan"><i class="mdi-action-loyalty"></i> Tickets</a>
                  </li>
                  <li class="bold"><a href="/#/chats" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Chats </a>
                  </li>
                  <li class="bold"><a href="/#/media" class="waves-effect waves-cyan"><i class="mdi-image-image"></i> Media </a>
                  </li>
                  <li class="bold"><a href="/#/calendar-events" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender Events</a>
                  </li>
                  <li class="bold"><a href="/#/finance" class="waves-effect waves-cyan"><i class="mdi-action-account-balance"></i> Finance</a>
                  </li>


              </ul>
      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
    </aside>
    <section id="content" style="padding:2%;">
            <div class="container">

              <div class="button-container">
                  <a ng-click="newTicket()" class="btn-floating btn-large waves-effect waves-light red " ><i class="material-icons">add</i></a>

              </div>
                  <div class='row'>
                                <div class ='col s12 m12 l4 tickets ticketEnter' ng-repeat="item in tickets" >
                                  <div class='card small' ng-init="loadTag(item.id)">
                                    <div class='card-image card-image waves-effect waves-block waves-light'>
                                      <img src='{{item.img_path}}' alt='sample'>
                                    </div>
                                    <div class="tag-container">
                                      <div ng-repeat="tag in tags[item.id]" class="budaya-tag chip">
                                       <img src="{{tag.img_path}}" alt="Contact Person">
                                       {{tag.nama_budaya}}
                                      </div>
                                    </div>
                                    <div class="btn-card-container">
                                        <button class="btn-detail" ng-click="showData(item.id,item.title)" type="button" name="button"><i class="mdi-action-info-outline"></i></button>
                                        <button class="btn-sold" ng-click="getEvent(item.id,item.title)" type="button" name="button"><i class="mdi-editor-attach-money"></i></button>

                                    </div>

                                  <div class="like-container">
                                    <span class="like-btn"><i class="ion ion-heart"></i></span>
                                    <span class="like-text">{{like[item.id]}}</span>

                                  </div>
                                    <div  class='card-content'>
                                      <span class='card-title activator blue-text darken-4'>{{item.title}}<i class='material-icons right'>more_vert</i></span>
                                      <p>
                                      <span class='text-light'>{{item.address}}</span>
                                      </p>
                                    </div>
                                    <div class='card-reveal'>
                                      <span class='card-title grey-text text-darken-4'>{$d['title']}<i class='material-icons right'>close</i></span>
                                      <p class='text-medium'>Maximum Capacity : {$d['capacity']}<p>
                                      <p class='text-medium'>Ticket Price : $ {$d['price']}</p>
                                      <p class='text-medium'>latitude: $ {$d['latitude']}</p> <span class='text-medium'>longitude: $ {$d['longitude']}</span>
                                    </div>
                                  </div>
                                </div>

                  </div>


            </div>
        </div>

  <div id="modal-tickets" class="modal register-ticket">
            <div class="modal-content">
                <h3 class="header text-bold blue-text darken-3">{{choosedTicket}} Details  <span id="ticket-name" class="text-light"></span></h3>

                    <table ng-if="loaded == true" datatable="ng" class="row-border hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Ticket ID</th>
                            <th>Available</th>
                            <th>Sold By</th>
                            <th>Sold Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in data">
                            <td>{{ item.date }}</td>
                            <td>{{ item.UId }}</td>
                            <td>{{ item.available }}</td>
                            <td>{{ item.sold_by }}</td>
                            <td>{{ item.sold_date }}</td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
        </div>

  <div id="modal-event" class="modal events">
        <h3 class="text-bold center-align">Sold Offline</h3>
        <div ng-if="choosedEvent == null">
          <h4 class="text-light center-align">Choose Event</h4>
          <div class="collection">
          <a ng-repeat="item in events | orderBy:'date' " ng-click="chooseEvent(item.date,item.tiketID)" href="" class="collection-item"><span class="text-bold">{{item.event_name}}</span>  at {{item.date}}</a>
          </div>
        </div>
        <div ng-if="choosedEvent != null">
          <h4 class="text-light center-align">{{EventName}}</h4>
          <h4 class="text-light center-align">{{choosedEvent}} Event </h4>
          <br><br>
          <div class="input-field">
            <i class="mdi-editor-format-size prefix"></i>
            <input  id="count" ng-model="count" type="number">
            <label  for="count" >How Many Tickets</label>
          </div>
          <button class="btn center-align" ng-click="soldOffline(count)" type="button" name="button">Sold Tickets</button>
        </div>

    </div>

  <div id="modal-add-ticket" class="modal register-ticket">
        <div class="modal-content">
          <div ng-if="loading == true">
            <div class="progress" >
              <div class="determinate" style="width: {{percentage}}" ></div>
            </div>
            <p>{{status}} . . . </p>
          </div>
       <form name="formticket" >
                  <br><br>
                  <div class="row">
                    <div class="col s6">
                      <div class="row">
                        <div class="col s12">
                          <h3 class="brand-logo left align blue-text darken-3"><span class="text-bold">Add</span><span class="text-medium"> New Ticket</span></h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="mdi-editor-format-size prefix"></i>
                          <input id="t_title" ng-model="title" name="t_title" type="text">
                          <label data-error="first name required" for="t_title" >Tickets Title</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="mdi-editor-attach-money prefix"></i>
                          <input id="t_price" ng-model="price" name="t_price" type="text">
                          <label data-error="last name required" for="t_price" >Price/USD</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="mdi-action-home prefix"></i>
                          <input id="t_addr" ng-model="addr" name="t_addr" type="text">
                          <label data-error="last name required" for="t_addr" >Address</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="mdi-action-assignment-ind prefix"></i>
                          <input id="capacity" ng-model="capacity" name="capacity" type="number">
                          <label for="capacity" >Maximum Capacity/Seat</label>
                        </div>

                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="mdi-image-timer prefix"></i>
                          <input id="time" ng-model="time" placeholder="HH:mm:ss" class="timepicker" type="time" name="t_time">
                          <label class="active"for="time" >Time</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12">
                          <tags-input ng-model="tag" display-property="nama_budaya" placeholder="Add a Culture" replace-spaces-with-dashes="false">
                            <auto-complete source="loadBudaya($query)"
                                           min-length="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="32"
                                           template="budaya-template"></auto-complete>
                          </tags-input>
                          <script type="text/ng-template" id="budaya-template">
                            <div class="left-panel">
                              <img ng-src="{{data.img_path}}"/>
                            </div>
                            <div class="right-panel">
                              <span ng-bind-html="$highlight($getDisplayText())"></span>
                              <span>{{data.fakta_menarik}}</span>
                            </div>
                          </script>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col s3">
                          <input type="checkbox" ng-model="sun" id="sun" name="sun"/>
                          <label for="sun">Sunday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="mon" id="mon"  name="mon"/>
                          <label for="mon">Monday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="tue" id="tue"  name="tue"/>
                          <label for="tue">Tuesday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="wed" id="wed"  name="wed"/>
                          <label for="wed">Wednesday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="thu" id="thu"  name="thu"/>
                          <label for="thu">Thursday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="fri" id="fri"  name="fri"/>
                          <label for="fri">Friday</label>
                        </div>

                        <div class="col s3">
                          <input type="checkbox" ng-model="sat" id="sat"  name="sat"/>
                          <label for="sat">Saturday</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="fileUpload">
                            <i class="fa fa-folder-open "></i>
                             Choose Ticket Image
                              <input  type="file" accept="image/*" image="tiket.img" class="upload" resize-max-height="1000" resize-max-width="1000" resize-quality="0.7" resize-type="image/jpg"/>

                          </div>
                          <p ng-if="tiket.img.compressed.dataURL != null">File selected: {{tiket.img.file.name}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l6">
                            <img ng-if="tiket.img.compressed.dataURL == null" class="img-ticket" id="imgOliPen" src=" " alt="">
                            <img ng-if="tiket.img.compressed.dataURL != null"class="img-ticket" id="imgOliPen" src="{{tiket.img.compressed.dataURL}}" alt="">

                        </div>

                      </div>


                    </div>
                    <div class="col s6">
                      <div class="row">
                        <div class="col s12">
                          <h3 class="blue-text darken-3 text-medium"><span class="text-bold">Maps</span> - drag to ajust</h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <div id="map"></div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s6">
                            <i class="mdi-communication-location-on prefix"></i>
                            <input id="t_lat" ng-model="lat" type="text" name="t_lat">
                            <label  id="labelLat" for="t_lat" >Latitude</label>
                          </div>
                          <div class="input-field col s6">
                            <i class="mdi-communication-location-on prefix"></i>
                            <input ng-model="long"  id="t_long" type="text" name="t_long">
                            <label  id="labelLong" for="long" >Longitude</label>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col s3 offset-s9">
                            <button id="btn-next" class="btn waves-effect buttons  waves-light" ng-click="addTicket()">Add</button>
                        </div>
                      </div>
                  </div>

            </div>
          </form>
    </div>
  </div>

</div>
