<ng-include src="'templates/partials/navbar.html'"></ng-include>
<ng-include src="'templates/partials/sidebar.html'"></ng-include>

<md-content flex layout-padding>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{state.subtitle}}</span>
        <span class="md-subhead">{{state.title}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <md-button class="md-raised md-primary" ng-if="state.act === 'read'" ng-click="action.add()">
          Tambah Data
          <md-icon>library_add</md-icon>
        </md-button>

        <md-button class="md-raised md-primary" ng-if="state.act !== 'read'" ng-click="action.back()">
          Kembali
          <md-icon>arrow_back</md-icon>
        </md-button>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <ng-include src="'templates/adminwarung/makanan/makanan.read.html'"></ng-include>
      <ng-include src="'templates/adminwarung/makanan/makanan.add.html'"></ng-include>
      <ng-include src="'templates/adminwarung/makanan/makanan.update.html'"></ng-include>
    </md-card-content>
  </md-card>
</md-content>

<ng-include src="'templates/partials/footer.html'"></ng-include>