<div class="navbar-fixed">
      <nav class="blue darken-2">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><span class="text-bold">Tiket</span><span class="text-medium">Tari</span><span class="text-bold"> Admin Site</span></a>
        </div>
    </nav>
  </div>

<div id="main">

  <div class="wrapper">
    <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="bold active"><a href="/#/dashboard" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i>System Revenue</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
    </aside>

    <section id="content" style="padding:2%;">
     <div class="row">
        <div class="col s12 m4 l4">
          <div class="card">
              <div class="card-content padding-action green darken-4 white-text">
                <h5 class="card-stats-number center-align">{{month}} Revenue</h5>
              </div>
              <div class="card-action padding-action green darken-2">
                  <h1 class="card-stats-number center-align white-text">{{revenue}} USD</h1>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4" ng-repeat="item in data">
          <div class="card">
              <div class="card-content padding-action blue darken-4 white-text">
                <h5 class="card-stats-number center-align">{{item.nama_penyelenggara}}</h5>
                <h4 class="card-stats-number center-align">{{convert(0.2*(item.sold*item.price))}} USD Revenue </h4>
              </div>
              <div class="card-content padding-action blue white-text">
                <h4 class="card-stats-number center-align">Sold {{item.sold}} Tickets at {{item.price}} USD </h4>
              </div>
          </div>
        </div>

      </div>

    </section>

 <div id="profile" class="modal modal-fixed-footer">
    <div class="modal-content" >
      <h4>Edit Profile</h4>
      <div class="row">
        <div class="col m3" >
            <img src="{{PDetail.img_path}}" alt="" style="width:50% !important;height:50% !important; border-radius:50% !important;" class="circle responsive-img valign profile-image">
            <div class="fileUpload" ng-init="initCtrl()">
                Change Image
                <input id="file" type="file" accept="*/*" ng-model="filename" class="upload" />
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
    </div>
</div>
