<ng-include src="'templates/partials/navbar.html'"></ng-include>
<ng-include src="'templates/partials/sidebar.html'"></ng-include>

<div class="wrapper">
  <section id="content" style="padding:2%;">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-image padding-action blue waves-effect waves-block waves-light">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors"
              chart-options="options" chart-dataset-override="datasetOverride" height="200" width="1046" chart-click="onClick">
            </canvas>
          </div>
          <div class="card-content blue darken-2">
            <div class="progress" ng-if="lchart == true">
              <div class="indeterminate"></div>
            </div>
            <span class="card-title white-text"><span class="text-bold">Weekly</span> Sales</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content padding-action green white-text">
            <p class="card-stats-title center-align"><i class="mdi-action-payment"></i> Todays Purchase</p>
            <h4 class="card-stats-number center-align">{{today.sold}} Tickets</h4>
          </div>
          <div class="card-action padding-action green darken-2">
            <p ng-if="progress > 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up white-text"></i> <span class="green-text text-lighten-5">{{progress}} from yesterday</span>
            </p>
            <p ng-if="progress < 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down white-text"></i> <span class="green-text text-lighten-5">{{progress}} from yesterday</span>
            </p>
            <p ng-if="progress == 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-tab white-text"></i> <span class="green-text text-lighten-5">{{progress}} from yesterday</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content padding-action purple white-text">
            <p class="card-stats-title center-align"><i class="mdi-action-payment"></i> Sold by Admin</p>
            <h4 class="card-stats-number center-align">{{admin}} Tickets</h4>
          </div>
          <div class="card-action padding-action purple darken-2">
            <p ng-if="aprogress > 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up white-text"></i> <span class="green-text text-lighten-5">{{aprogress}} from yesterday</span>
            </p>
            <p ng-if="aprogress < 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down white-text"></i> <span class="green-text text-lighten-5">{{aprogress}} from yesterday</span>
            </p>
            <p ng-if="aprogress == 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-tab white-text"></i> <span class="green-text text-lighten-5">{{aprogress}} from yesterday</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content padding-action blue white-text">
            <p class="card-stats-title center-align"><i class="mdi-action-payment"></i> Sold by TiketTari</p>
            <h4 class="card-stats-number center-align">{{tt}} Tickets</h4>
          </div>
          <div class="card-action padding-action blue darken-2">
            <p ng-if="tprogress > 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up white-text"></i> <span class="green-text text-lighten-5">{{tprogress}} from yesterday</span>
            </p>
            <p ng-if="tprogress < 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down white-text"></i> <span class="green-text text-lighten-5">{{tprogress}} from yesterday</span>
            </p>
            <p ng-if="tprogress == 0" class="card-stats-compare"><i class="mdi-hardware-keyboard-tab white-text"></i> <span class="green-text text-lighten-5">Same from yesterday</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="profile" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Edit Profile</h4>
      <div class="row">
        <div class="col m3">
          <img src="{{PDetail.img_path}}" alt="" style="width:50% !important;height:50% !important; border-radius:50% !important;"
            class="circle responsive-img valign profile-image">
          <div class="fileUpload" ng-init="initCtrl()">
            Change Image
            <input id="file" type="file" accept="*/*" ng-model="filename" class="upload" />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
    </div>
  </div>
</div>

<ng-include src="'templates/partials/footer.html'"></ng-include>