<ng-include src="'templates/partials/navbar.html'"></ng-include>
<ng-include src="'templates/partials/sidebar.html'"></ng-include>

<md-content layout="row" layout-align="center center">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Dashboard</span>
        <span class="md-subhead">Super Admin</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>Lakukan aktivitas dengan tombol garis tiga pada pojok kiri atas.</p>
    </md-card-content>
  </md-card>
</md-content>

<ng-include src="'templates/partials/footer.html'"></ng-include>